/* Game Set Up */

.gameSetUp {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.choosePlayer {
  display: inline-block;
  font-size: 25px;
}

.startGame {
  display: block;
  margin: auto;
  font-size: 25px;
}

/* Game Display */

.gameDisplay {
  display: none;
}

.currentPlayerDisplay {
  text-align: center;
  width: 100%;
}

.currentPlayer {
  font-weight: bold;
}

.player {
  display: inline-block;
}

.board {
  text-align: center;
}

.button {
  width: 100px;
  height: 100px;
  color: black;
  background-color: white;
  border-width: 3px;
  border-color: black;
  padding: 5px;
  margin: 2px;
  font-size: 50px;
}

.font {
  font-family: Arial;
}

p {
  text-align: center;
  font-size: 25px;
}

/* Game Options */
.gameOptionButton {
  display: block;
  margin: auto;
  font-size: 25px;
  padding: 10px;
  width: 300px;
}

/* Switch Player */
.switchPlayer {
  padding: 20px 0px 10px 0px;
}
